<h2 style ="color: olive">Estadísticas de MyQuiz</h2>
    
<table id="estadisticas">
    <tr><td class="izq">Total Preguntas: </td><td class="dcha"> <%= stats.preguntas %></td></tr>
    <tr><td class="izq">Total Comentarios: </td><td class="dcha"> <%= stats.comments %></td></tr>
    <tr><td class="izq">Media de comentarios por pregunta: </td><td class="dcha"> <%= stats.media %></td></tr>
    <tr><td class="izq">Preguntas con comentarios: </td><td class="dcha"> <%= stats.pregConComments %></td></tr>
    <tr><td class="izq">Preguntas sin comentarios: </td><td class="dcha"> <%= stats.pregSinComments %></td></tr>
    <tr><td class="izq">Comentarios publicados: </td><td class="dcha"> <%= stats.commentsPublicados %></td></tr>
    <tr><td class="izq">Comentarios sin publicar: </td><td class="dcha"> <%= stats.commentsSinPublicar %></td></tr>
</table>